* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 54px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header__menu {
  width: 100%;
  max-width: 50%;
  display: flex;
  justify-content: end;
  margin-right: -8px;
}

.spotify-logo img {
  width: 90px;
}

.header__menu--hamburger-menu {
  width: 34px;
  height: 34px;
  border: none;
  outline: none;
  background: none;
  display: block;
}

.header__menu--hamburger-menu span {
  display: block;
  width: 70%;
  height: 3px;
  margin: 4px auto;
  border-radius: 1px;
  background-color: white;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

#menu-hamburger > span.top-line-menu.open {
  animation-name: top-line-close;
}

#menu-hamburger > span.middle-line-menu.open {
  animation-name: middle-line-close;
}

#menu-hamburger > span.bottom-line-menu.open {
  animation-name: bottom-line-close;
}

#menu-hamburger > span.top-line-menu {
  animation-name: top-line;
}

#menu-hamburger > span.middle-line-menu {
  animation-name: middle-line;
}

#menu-hamburger > span.bottom-line-menu {
  animation-name: bottom-line;
}

@keyframes top-line-close {
  50%, 100% {
    margin: 0 auto;
    transform: translateY(2px) rotate(-45deg);
  }
}

@keyframes bottom-line-close {
  50%, 100% {
    margin: 0 auto;
    transform: translateY(-3px) rotate(45deg);
  }
}

@keyframes middle-line-close {
  20%, 100% {
    margin: 0 auto;
    width: 0;
    opacity: 0;
  }
}

@keyframes top-line {
  0% {
    margin: 0 auto;
    transform: translateY(2px) rotate(-45deg);
  }
  50%, 100% {
    margin: 4px auto;
    transform: translateY(0px) rotate(0deg);
  }
}

@keyframes bottom-line {
  0% {
    margin: 0 auto;
    transform: translateY(-3px) rotate(45deg);
  }
  50%, 100% {
    margin: 4px auto;
    transform: translateY(0px) rotate(0deg);
  }
}

@keyframes middle-line {
  0% {
    margin: 0 auto;
    width: 0;
    opacity: 0;
  }
  50%, 100% {
    margin: 4px auto;
    width: 70%;
    opacity: 1;
  }
}

.menu-nav {
  background-color: black;
  position: absolute;
  width: 100vw;
  height: calc(100vh - 54px);
  right: 0;
  top: 54px;
  animation-name: openMenu;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

.menu {
  list-style: none;
  padding-left: 40px;
}

.menu li {
  margin-bottom: 16px;
}

.menu li:nth-child(1) {
  margin-top: 16px;
}

.menu li a {
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 800;
  color: white;
}

.menu-nav .spotify-logo {
  position: absolute;
  bottom: 40px;
  left: 40px;
}

@keyframes openMenu {
  from {
    opacity: 0;
    left: 100vw;
  }
  to {
    opacity: 1;
    left: 0;
  }
}

.separator {
  width: 32px;
  height: 2px;
  margin: 40px 0;
  background-color: white;
}

main section:nth-child(1) {
  background-color: #1d75de;
  padding: 18px;
}

main section:nth-child(1) h1 {
  font-weight: 900;
  color: white;
  line-height: 1.2;
  font-size: 2.4rem;
  margin-top: 30px;
  margin-bottom: 20px;
}

.campaign {
  font-size: 1.8rem;
  margin-bottom: 24px;
  color: white;
}

.section-1__buttons-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  margin-bottom: 40px;
}

.section-1__buttons-container button {
  height: 52px;
  outline: none;
  border: none;
  border-radius: 32px;
  font-size: 1.4rem;
  font-weight: 700;
  color: white;
}

.section-1__buttons-container .start {
  background-color: rgb(25, 20, 20);
  border: 2px solid rgb(25, 20, 20);
}

.section-1__buttons-container .see-plans {
  background-color: transparent;
  border: 2px solid white;
}

.terms {
  display: inline-block;
  font-size: 1.1rem;
  font-weight: lighter;
  text-decoration: underline;
  color: white;
}

.terms-secondary {
  display: inline;
  font-size: 1.1rem;
  font-weight: lighter;
  color: white;
}

main section:nth-child(2) {
  width: 100%;
  padding: 35px 15px;
}

main section:nth-child(2) h2 {
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 20px;
}

.benefits {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.benefits li {
  list-style: none;
  display: flex;
  margin-bottom: 30px;
}

.benefits li:nth-child(1) .benefits__image-container {
  background-image: url('https://i.scdn.co/image/ab671c3d0000f43009302fbaf6259b4c117c704f');
}

.benefits li:nth-child(2) .benefits__image-container {
  background-image: url('https://i.scdn.co/image/ab671c3d0000f43098292b95d24a697c20df5137');
}

.benefits li:nth-child(3) .benefits__image-container {
  background-image: url('https://i.scdn.co/image/ab671c3d0000f4306998d3ffd58aad6da6afdf67');
}

.benefits li:nth-child(4) .benefits__image-container {
  background-image: url('https://i.scdn.co/image/ab671c3d0000f430cd6c528745e510c5be63a012');
}

.benefits__image-container {
  width: 124px;
  height: 124px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

.benefits__info {
  width: 100%;
  margin: 16px 0 20px 20px;
}

.benefits__info p:nth-child(1) {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 16px;
}

.benefits__info p:nth-child(2) {
  font-size: 1.6rem;
  font-weight: 100;
}

main section:nth-child(3) {
  width: 100%;
  background-color: #efefef;
}

main section:nth-child(3) h2, main section:nth-child(3) h3 {
  text-align: center;
}

main section:nth-child(3) h2 {
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 1;
  padding: 10px 20px;
  padding-top: 30px;
}

main section:nth-child(3) h3 {
  font-size: 1.6rem;
  font-weight: normal;
  padding: 0 10px;
}

.pay-methods {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
}

.pay-methods ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pay-methods ul li {
  list-style: none;
}

.pay-methods ul li:nth-child(1) .img-pay {
  background-image: url('https://content-tooling.spotifycdn.com/images/a9609ece-0ff6-4403-b2ab-d6ad86e95739_visa.svg');
}

.pay-methods ul li:nth-child(2) .img-pay {
  background-image: url('https://content-tooling.spotifycdn.com/images/407888a1-bcf3-49e6-99dc-18964388ada9_mastercard.svg');
}

.pay-methods ul li:nth-child(3) .img-pay {
  background-image: url('https://content-tooling.spotifycdn.com/images/eca51fa5-dfb9-41e8-9f80-37ae332c3b2c_amex.svg');
}

.pay-methods ul li:nth-child(4) .img-pay {
  background-image: url('https://i.scdn.co/image/ab671c3d0000f43006a12b9d242579f077f22b6d');
}

.pay-methods ul li:nth-child(5) .img-pay {
  background-image: url('https://content-tooling.spotifycdn.com/images/f5bf7512-64ed-4f7d-868c-6a84a44b3f7f_oxxo_logo.svg');
}

.pay-methods ul li:nth-child(6) .img-pay {
  background-image: url('https://content-tooling.spotifycdn.com/images/3467ce71-0a1e-4cb6-8a99-216393b60081_att-horizontal.svg');
}

.pay-methods ul li .img-pay {
  width: 29px;
  height: 20px;
  margin-right: 8px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.plans {
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.plans__card {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 2px 2px 21px -5px rgba(0,0,0,1);
-webkit-box-shadow: 2px 2px 21px -5px rgba(0,0,0,1);
-moz-box-shadow: 2px 2px 21px -5px rgba(0,0,0,1);
}

.plans__card span {
  display: block;
  width: fit-content;
  border: 1px solid #0d72ea;
  border-radius: 4px;
  margin-bottom: 8px;
  padding: 4px 8px;
  font-size: 1.4rem;
  font-weight: 900;
  color: #0d72ea;
}

.plans__card span:nth-child(1) {
  background-color: #0d72ea;
  color: white;
}

.plans__card--text-container {
  padding-top: 10px;
}

.plans .plans__card h3 {
  text-align: left;
  font-size: 2.4rem;
  font-weight: bold;
  padding: 0;
}

.plans .plans__card p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 22px;
}

.plans__card hr {
  margin: 20px 0;
}

.plans__card--benefits-list {
  display: flex;
}

.plans__card--benefits-list ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.plans__card--benefits-list ul li {
  list-style: none;
}

.benefits-list__element {
  display: flex;
}

.benefits-list__element img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.benefits-list__element p {
  font-size: 1.6rem;
  font-weight: 400;
}

.plans__card button {
  height: 48px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 500px;
  padding: 14px 32px;
  font-size: 1.4rem;
  font-weight: 700;
  color: white;
  background-color: black;
  border: none;
  outline: none;
}

.plans .plans__card .terms {
  color: black;
  font-size: 1.2rem;
  padding-top: 20px;
  line-height: initial;
}

.plans .plans__card .terms ~ p {
  display: inline;
  font-size: 1.2rem;
  color: black;
  line-height: initial;
}

footer {
  background-color: black;
}

.footer__container {
  width: 1200px;
  margin: 0 auto;
}

.footer__container figure img {
  padding: 16px 16px 15px 16px;
  width: 90px;
}

.footer__container h4 {
  margin-top: 40px;
  color: #919496;
  font-size: 1.2rem;
  font-weight: 900;
  line-height: 1.4;
  text-transform: uppercase;
}

.footer__container li {
  margin-top: 20px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  list-style: none;
}

.social-media-icons {
  margin-top: 100px;
}

.social-media-icons ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.social-media-icons ul li {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: #222326;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 14px;
}

.social-media-icons ul li img {
  width: 24px;
  height: 24px;
  background-color: white;
}

.country {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

.country img {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
}

.country p {
  font-size: 1rem;
  color: #919496;
  margin-left: 4px;
}

.links {
  display: flex;
  width: 100%;
  margin-top: 10px;
}

.links .links-list {
  width: 60%;
}

.links .links-list ul li {
  margin: 0;
  font-size: 1rem;
  color: #919496;
  margin-bottom: 20px;
}

.links .icon-spotify {
  width: 40%;
  color: #919496;
  font-size: 1rem;
  text-align: end;
}

.inactive {
  display: none;
}

.inactive-opacity {
  opacity: 0;
}

@media (min-width: 375px) {
  .links .links-list ul {
    display: flex;
    flex-wrap: wrap;
  }

  .links .links-list ul li {
    margin-right: 12px;
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) {
  .footer-info {
    display: flex;
    justify-content: center;
  }

  .footer-info > div {
    width: 30%;
  }

  .plans__card--header {
    display: flex;
    justify-content: space-between;
  }

  .benefits {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
    padding: 0 24px;
  }

  .section-1__buttons-container {
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(1, 1fr);
    margin: 40px 0;
  }
}

@media (min-width: 1024px) {
  header {
    padding: 24px 36px;
    height: auto;
  }
  .header {
    width: initial;
  }

  .header__menu {
    display: none;
  }

  #menu-container {
    display: block;
  }

  .menu-nav {
    display: block;
    width: initial;
    height: initial;
    position: initial;
  }

  .menu-nav .spotify-logo {
    display: none;
  }

  .menu {
    display: flex;
  }

  #menu-container .menu li {
    margin: 0;
    margin: 0 16px;
  }

  .menu li a {
    font-size: 1.6rem;
    font-weight: 600;
  }

  .separator {
    margin: auto 0;
    width: 20px;
    transform: rotate(90deg);
  }

  .footer__container {
    display: flex;
    flex-wrap: wrap;
    padding: 80px 20px 20px 40px;
  }

  .footer__container figure img {
    width: 132px;
  }

  .footer-info {
    width: 60%;
    margin-top: -8px;
  }

  .social-media-icons {
    margin: 0 12px 0 36px;
  }

  .social-media-icons ul li {
    width: 54px;
    height: 54px;
  }

  .country {
    width: 100%;
    padding: 10px 0;
  }
}

@media (min-width: 1200px) {
  .header__container {
    width: 100vw;
    background-color: black;
  }

  header {
    max-width: 1200px;
    margin: 0 auto;
    padding: 24px 0;
  }

  .section-container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .benefits {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 24px;
  }

  .benefits li {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .benefits__info {
    margin: 0;
    margin-top: 32px;
  }

  .benefits__info p {
    text-align: center;
  }

  .plans {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }

  .plans__card--header {
    flex-direction: column;
  }

  .plans__card--header span {
    font-size: 1.2rem;
  }

  .plans__card--benefits-list {
    height: 300px;
    display: block;
  }
}